{% extends "_layouts/_root.html" %}

{% block title %}Talk to our experts{% endblock %}

{% block content %}
<main id="main-content">
  <section class="p-strip is-deep">
    <div class="row u-equal-height">
      <div class="col-7">
        <h1>Thank you for contacting us</h1>
        <p class="p-heading--4">A member of our team will be in touch within one working day.</p>
      </div>
      <div class="col-5 u-align--center u-vertically-center u-hide--small u-hide--medium">
        {{ image (
          url="https://assets.ubuntu.com/v1/52d53696-picto-thankyou-midaubergine.svg",
          alt="Smile",
          width="200",
          height="200",
          hi_def=True,
          loading="auto|lazy"
          ) | safe
        }}
      </div>
    </div>
  </section>
</main>
{% endblock %}
