<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <link rel="icon" type="image/png" href="https://assets.ubuntu.com/v1/cb22ba5d-favicon-16x16.png" sizes="16x16" />
  <link rel="icon" type="image/png" href="https://assets.ubuntu.com/v1/49a1a858-favicon-32x32.png" sizes="32x32" />

  <link rel="stylesheet" type="text/css" media="screen" href="/static/css/main.css" />

  <title>{% block title %}{{ title }}{% endblock title %}</title>
  <meta name="description"
        content="Micro clouds offer a lightweight and automated solution for edge clouds and small scale private clouds. Best of open source cloud infrastructure components integrated seamlessly.">
  <meta name="keywords"
        content="micro, cloud, microcloud, automation, edge clouds, small scale, private cloud, infrastructure, open source" />
  <meta name="author" content="Canonical" />
</head>

<body>

<a href="#main-content" class="p-link--skip">Jump to main content</a>

<header id="navigation" class="p-navigation is-dark">
  <div class="p-navigation__row">
    <div class="p-navigation__banner">
      <div class="p-navigation__logo u-vertically-center">
        <a class="p-navigation__item" href="/" style="color:white;">
          Microcloud
        </a>
      </div>
      <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
      <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Close menu</a>
    </div>
    <nav class="p-navigation__nav">
      <ul class="p-navigation__items">
        <li class="p-navigation__item {% if path.startswith('/docs') %}is-selected{% endif %}"><a
                class="p-navigation__link" href="/docs/">Docs</a></li>
        <li class="p-navigation__item {% if path.startswith('/resources') %}is-selected{% endif %}"><a
                class="p-navigation__link" href="/resources/">Resources</a></li>
      </ul>
      <ul class="p-navigation__items global-nav"></ul>
    </nav>
  </div>
</header>

<div class="wrapper">
  <div id="main-content" class="inner-wrapper">

    {% block content %}{% endblock %}

  </div>
</div>

<footer class="p-strip" style="border-top: 1px solid #cdcdcd;">
  <div class="row">
    <div class="col-8">
      <p class="u-no-max-width">&copy; 2023 Canonical Ltd. Ubuntu and Canonical are registered trademarks of Canonical&nbsp;Ltd.</p>
      <nav>
        <ul class="p-inline-list--middot">
          <li class="p-inline-list__item">
            <a class="p-footer__link" href="https://www.ubuntu.com/legal">Legal information</a>
          </li>
          <li class="p-inline-list__item">
            <a class="p-footer__link" href="https://www.ubuntu.com/legal/data-privacy">Data privacy</a>
          </li>
          <li class="p-inline-list__item">
            <a class="p-footer__link" href="https://github.com/canonical/microcloud.is/issues/new">Report a bug on this
              site</a>
          </li>
          <li class="p-inline-list__item">
            <a href="" class="p-footer__link js-revoke-cookie-manager">Manage your tracker settings</a>
          </li>
        </ul>
        <span class="u-off-screen">
          <a href="#">Go to the top of the page</a>
        </span>
      </nav>
    </div>
  </div>
</footer>

<!-- cookie policy and gloabl navigation component -->
<script src="/static/js/cookie-policy.js"></script>
<script src="/static/js/global-nav.js"></script>
<script>
  canonicalGlobalNav.createNav();
  cpNs.cookiePolicy();
</script>

</body>
</html>
