<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="copydoc" content="{% block meta_copydoc %}https://drive.google.com/drive/folders/1f1S2TsmTXfk4KPUaulpF27_lvMWewiSN{% endblock %}">

  <link rel="icon" type="image/png" href="https://assets.ubuntu.com/v1/10a670a9-Microcloud_favicon_16px.png"
        sizes="16x16" />
  <link rel="icon" type="image/png" href="https://assets.ubuntu.com/v1/32127a3d-Microcloud_favicon_32px.png"
        sizes="32x32" />

  <link rel="stylesheet" type="text/css" media="screen" href="/static/css/main.css" />

  <title>{% block title %}{{ title }}{% endblock title %}</title>
  <meta name="description"
        content="{% block description %}{{ description }}{% endblock description %}">
  <meta name="keywords"
        content="micro, cloud, microcloud, automation, edge clouds, small scale, private cloud, infrastructure, open source, edge solution" />
  <meta name="author" content="Canonical" />

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WM4V49ZJ');</script>
</head>

<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WM4V49ZJ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<a href="#main-content" class="p-link--skip">Jump to main content</a>

<header id="navigation" class="p-navigation is-dark">
  <div class="p-navigation__row">
    <div class="p-navigation__banner">
      <div class="p-navigation__logo u-vertically-center">
        <a class="p-navigation__item" href="/" style="color:white;">
          MicroCloud
        </a>
      </div>
      <a href="#navigation" class="p-navigation__toggle--open" title="menu">Menu</a>
      <a href="#navigation-closed" class="p-navigation__toggle--close" title="close menu">Close menu</a>
    </div>
    <nav class="p-navigation__nav">
      <ul class="p-navigation__items">
        <li class="p-navigation__item {% if path.startswith('/resources') %}is-selected{% endif %}"><a
                class="p-navigation__link" href="/resources">Resources</a></li>
        <li class="p-navigation__item {% if path.startswith('/roadshow') %}is-selected{% endif %}"><a
                class="p-navigation__link" href="/roadshow">Roadshow</a></li>
        <li class="p-navigation__item"><a
                class="p-navigation__link" href="https://canonical-microcloud.readthedocs-hosted.com/en/latest/"
                target="_blank" rel="noopener noreferrer">Docs</a></li>
      </ul>
      <ul class="p-navigation__items global-nav"></ul>
    </nav>
  </div>
</header>

<div class="wrapper">
  <div id="main-content" class="inner-wrapper">

    {% block content %}{% endblock %}

  </div>
</div>

<footer class="p-strip" style="border-top: 1px solid #cdcdcd;">
  <div class="row">
    <div class="col-8">
      <p class="u-no-max-width">&copy; 2023 Canonical Ltd. Ubuntu and Canonical are registered trademarks of Canonical&nbsp;Ltd.</p>
      <nav>
        <ul class="p-inline-list--middot">
          <li class="p-inline-list__item">
            <a class="p-footer__link" href="https://www.ubuntu.com/legal">Legal information</a>
          </li>
          <li class="p-inline-list__item">
            <a class="p-footer__link" href="https://www.ubuntu.com/legal/data-privacy">Data privacy</a>
          </li>
          <li class="p-inline-list__item">
            <a class="p-footer__link" href="https://github.com/canonical/microcloud.is/issues/new">Report a bug on this
              site</a>
          </li>
          <li class="p-inline-list__item">
            <a href="" class="p-footer__link js-revoke-cookie-manager">Manage your tracker settings</a>
          </li>
        </ul>
        <span class="u-off-screen">
          <a href="#">Go to the top of the page</a>
        </span>
      </nav>
    </div>
  </div>
</footer>

<!-- cookie policy and gloabl navigation component -->
<script src="/static/js/cookie-policy.js"></script>
<script src="/static/js/global-nav.js"></script>
<script>
  canonicalGlobalNav.createNav();
  cpNs.cookiePolicy();
</script>

</body>
</html>
