{% extends "_layouts/_root.html" %}

{% block title %}A collection of useful and educational material and information about micro clouds and its components{% endblock %}

{% block content %}
  <section class="p-strip--suru">
    <div class="row">
      <div class="col-12">
        <h1>Learn more about micro cloud</h1>
        <p>Explore a collection of useful resources that will help you understand micro cloud and its components.<p>
        <p>Whitepapers, blogs, how to videos, webinars, and more are conveniently collected here for you. We’ll guide you through what each resource is about, and add more to this page over time.</p>
      </div>
    </div>
  </section>

  <section class="p-strip">
  <div class="u-fixed-width">
    <h2>Videos and webinars</h2>
  </div>
  <article class="p-strip is-shallow">
    <div class="row">
      <div class="col-4">
        <h3 id="what-is-microk8s" class="p-heading--4"><a href="https://ubuntu.com/engage/introduction-to-micro-clouds">Introduction to micro clouds</a></h3>
      </div>
      <div class="col-4">
        <p>A micro cloud is a new class of infrastructure for on-demand computing at the edge. In this webinar we go over what micro clouds are and why they should be a part of your edge strategy, finishing with a demo.</p>
      </div>
    </div>
  </article>
  <hr class="is-muted is-fixed-width">
  <article class="p-strip is-shallow">
    <div class="row">
      <div class="col-4">
        <h3 class="p-heading--4"><a href="https://www.youtube.com/watch?v=ZSZoLnp-Ip0">Introducing MicroCloud</a></h3>
      </div>
      <div class="col-4">
        <p>This youtube video explains the technical side of micro clouds, its components and the way it works. In addition, it includes a demo showing how easy it is to deploy micro clouds.</p>
      </div>
    </div>
  </article>
</section>
{% endblock %}
