{% extends "_layouts/_root.html" %}
{% block title %}A collection of useful and educational material and information about MicroClouds and its components{% endblock %}
{% block description %}MicroClouds offer a lightweight and automated solution for edge clouds and small scale private clouds. Best of open source cloud infrastructure components integrated seamlessly.{% endblock %}
{% block meta_copydoc %}https://docs.google.com/document/d/1ffTxn2ymKrWRPUjjx6cN0-OA6rlIuX0YaVbFQHcpsTM/edit{% endblock meta_copydoc %}

{% block content %}
  <main id="main-content">
    <section class="p-strip--suru">
      <div class="row">
        <div class="col-12">
          <h1>Learn more about MicroCloud</h1>
          <p>Explore a collection of useful resources that will help you understand MicroCloud and its components.
          <p>
          <p>Whitepapers, blogs, how to videos, webinars, and more are conveniently collected here for you. We’ll guide
            you through what each resource is about, and add more to this page over time.</p>
        </div>
      </div>
    </section>

    <section class="p-strip">
      <div class="u-fixed-width">
        <h2>Videos and webinars</h2>
      </div>
      <article class="p-strip is-shallow">
        <div class="row">
          <div class="col-4">
            <h3 class="p-heading--4"><a
                    href="https://ubuntu.com/engage/introduction-to-micro-clouds" target="_blank" rel="noopener noreferrer">Introduction to MicroClouds</a></h3>
          </div>
          <div class="col-4">
            <p>A MicroCloud is a new class of infrastructure for on-demand computing at the edge. In this webinar we go
              over what MicroClouds are and why they should be a part of your edge strategy, finishing with a demo.</p>
          </div>
          <div class="col-4 u-hide--small u-hide--medium u-align--center u-vertically-center">
            <a href="https://ubuntu.com/engage/introduction-to-micro-clouds" target="_blank" rel="noopener noreferrer">
             {{ image (
                url="https://assets.ubuntu.com/v1/7110054f-introduction-to-microclouds.webp",
                alt="introduction to microclouds",
                width="346",
                height="200",
                hi_def=True,
                loading="auto|lazy"
                ) | safe
                }}
            </a>
          </div>
        </div>
      </article>
      <hr class="is-muted is-fixed-width">
      <article class="p-strip is-shallow">
        <div class="row">
          <div class="col-4">
            <h3 class="p-heading--4"><a href="https://www.youtube.com/watch?v=ZSZoLnp-Ip0" target="_blank" rel="noopener noreferrer">Introducing MicroCloud</a>
            </h3>
          </div>
          <div class="col-4">
            <p>This YouTube video explains the technical side of MicroClouds, its components and the way it works. In
              addition, it includes a demo showing how easy it is to deploy MicroClouds.</p>
          </div>
          <div class="col-4">
            <iframe width="346" height="197" src="https://www.youtube-nocookie.com/embed/ZSZoLnp-Ip0" frameborder="0"
                    title="Introducing MicroCloud"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    loading="lazy" allowfullscreen="" class="responsiveIframe"></iframe>
          </div>
        </div>
      </article>
      <hr class="is-muted is-fixed-width">
      <article class="p-strip is-shallow">
        <div class="row">
          <div class="col-4">
            <h3 class="p-heading--4"><a href="https://www.youtube.com/watch?v=PX1n3ZAWuAU" target="_blank" rel="noopener noreferrer">Introducing MicroCeph</a>
            </h3>
          </div>
          <div class="col-4">
            <p>If you are interested in the storage side of MicroClouds, this video is a good place to learn more. It
              explains what MicroCeph is and how it can be used to setup an HA Ceph cluster easily, avoiding complex
              configuration that is usually needed.</p>
          </div>
          <div class="col-4">
            <iframe width="349" height="197" src="https://www.youtube-nocookie.com/embed/PX1n3ZAWuAU" frameborder="0"
                    title="Introducing MicroCeph"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    loading="lazy" allowfullscreen="" class="responsiveIframe"></iframe>
          </div>
        </div>
      </article>
      <hr class="is-muted is-fixed-width">
      <article class="p-strip is-shallow">
        <div class="row">
          <div class="col-4">
            <h3 class="p-heading--4"><a href="https://www.youtube.com/@LXD/videos" target="_blank" rel="noopener noreferrer">How-tos and tutorials on the LXD
              YouTube channel</a>
            </h3>
          </div>
          <div class="col-4">
            <p>MicroClouds use LXD for compute. This means that for running and operating your instances, as well as
              any other configuration, regular LXD operations apply. The LXD YouTube channel is a great place for
              tutorials on a variety of topics you may need for operating your cloud.</p>
          </div>
          <div class="col-4 u-hide--small u-hide--medium u-align--center u-vertically-center">
            <a href="https://www.youtube.com/@LXD/videos" target="_blank" rel="noopener noreferrer">
             {{ image (
                url="https://assets.ubuntu.com/v1/c8186b24-lxd-youtube-channel.png",
                alt="lxd youtube channel",
                width="346",
                height="197",
                hi_def=True,
                loading="auto|lazy"
                ) | safe
                }}
            </a>
          </div>
        </div>
      </article>
    </section>

    <section class="p-strip--light">
      <div class="u-fixed-width">
        <h2>Case studies / Whitepapers / Industry reports</h2>
      </div>
      <article class="p-strip is-shallow">
        <div class="row">
          <div class="col-4">
            <h3 class="p-heading--4"><a
                    href="https://ubuntu.com/engage/guide-to-micro-clouds" target="_blank" rel="noopener noreferrer">CTO’s guide to MicroClouds</a></h3>
          </div>
          <div class="col-4">
            <p>This whitepaper discusses the concept of MicroClouds, a new class of compute for the edge and
              decentralised environments. It’s ideal to gain an understanding of edge computing constraints, values,
              graphics and use cases.</p>
          </div>
          <div class="col-4 u-hide--small u-hide--medium u-align--center u-vertically-center">
            <a href="https://ubuntu.com/engage/guide-to-micro-clouds" target="_blank" rel="noopener noreferrer">
             {{ image (
                url="https://assets.ubuntu.com/v1/4adc248f-1200628%20-%20WP%20Micro%20Clouds%20CTOs%20guide.png",
                alt="MicroClouds cto guide",
                width="390",
                height="204",
                hi_def=True,
                loading="auto|lazy"
                ) | safe
                }}
            </a>
          </div>
        </div>
      </article>
      <hr class="is-muted is-fixed-width">
      <article class="p-strip is-shallow">
        <div class="row">
          <div class="col-4">
            <h3 class="p-heading--4"><a href="https://ubuntu.com/engage/edge-infrastructure" target="_blank" rel="noopener noreferrer">Edge infrastructure
              implementation the open source way</a>
            </h3>
          </div>
          <div class="col-4">
            <p>Implementing an edge strategy entails a number of challenges. Explore how you can design edge
              infrastructure, from Multi-access Edge Computing (MEC) through to private mobile networks and IoT
              gateways, the open-source way.</p>
          </div>
          <div class="col-4">
            <div class="col-4 u-hide--small u-hide--medium u-align--center u-vertically-center">
              <a href="https://ubuntu.com/engage/edge-infrastructure" target="_blank" rel="noopener noreferrer">
                {{ image (
                  url="https://assets.ubuntu.com/v1/5cf6d476-edge-infrastructure.png",
                  alt="edge infrastructure",
                  width="390",
                  height="185",
                  hi_def=True,
                  loading="auto|lazy"
                  ) | safe
                }}
              </a>
            </div>
          </div>
        </div>
      </article>
    </section>

    <section class="p-strip">
      <div class="u-fixed-width">
        <h2>Blogs</h2>
      </div>
      <article class="p-strip is-shallow">
        <div class="row">
          <div class="col-4">
            <h3 class="p-heading--4"><a
                    href="https://ubuntu.com/blog/one_command_micro_cloud" target="_blank" rel="noopener noreferrer">Launch your own MicroClouds with one
              command</a></h3>
          </div>
          <div class="col-4">
            <p>In this blog, we go over the new, simplified deployment process for MicroClouds, teaching you to deploy
              your own cloud with a single command in just a few minutes.</p>
          </div>
          <div class="col-4 u-hide--small u-hide--medium u-align--center u-vertically-center">
            <a href="https://ubuntu.com/blog/one_command_micro_cloud" target="_blank" rel="noopener noreferrer">
              {{ image (
                url="https://assets.ubuntu.com/v1/65443b2f-microcloud-init.png",
                alt="microcloud init",
                width="300",
                height="158",
                hi_def=True,
                loading="auto|lazy"
                ) | safe
              }}
            </a>
          </div>
        </div>
      </article>
      <hr class="is-muted is-fixed-width">
      <article class="p-strip is-shallow">
        <div class="row">
          <div class="col-4">
            <h3 class="p-heading--4"><a
                    href="https://ubuntu.com/blog/edge-computing-is-dead-long-live-micro-clouds-and-iot-gateways" target="_blank" rel="noopener noreferrer">Edge
              computing is dead, long live MicroClouds and IoT gateways</a>
            </h3>
          </div>
          <div class="col-4">
            <p>Are you curious about what all the fuss is about when it comes to edge computing? This blog examines the
              concept and use cases of edge computing, as well as defining what MicroClouds are and where do they fit
              in that spectrum.</p>
          </div>
          <div class="col-4 u-hide--small u-hide--medium u-align--center u-vertically-center">
            <a href="https://ubuntu.com/blog/edge-computing-is-dead-long-live-micro-clouds-and-iot-gateways" target="_blank" rel="noopener noreferrer">
              {{ image (
                url="https://assets.ubuntu.com/v1/a77f8ef7-iot_edge_gateways_infographic.svg",
                alt="iot edge gateways",
                width="200",
                height="166",
                hi_def=True,
                loading="auto|lazy"
                ) | safe
              }}
            </a>
          </div>
        </div>
      </article>
      <hr class="is-muted is-fixed-width">
      <article class="p-strip is-shallow">
        <div class="row">
          <div class="col-4">
            <h3 class="p-heading--4"><a href="https://ubuntu.com/blog/shared-development-environment-with-lxd" target="_blank" rel="noopener noreferrer">Setting
              up a secure shared development environment with LXD</a>
            </h3>
          </div>
          <div class="col-4">
            <p>If your MicroClouds need to be used by a variety of users, it’s good to know how you can share your
              environment safely, without granting unnecessary privileges to your users. Read more about it in this
              blog.</p>
          </div>
          <div class="col-4">
            <div class="col-4 u-hide--small u-hide--medium u-align--center u-vertically-center">
              <a href="https://ubuntu.com/blog/shared-development-environment-with-lxd" target="_blank" rel="noopener noreferrer">
                {{ image (
                  url="https://assets.ubuntu.com/v1/acfff8dc-People-with-laptops.png",
                  alt="people with laptops",
                  width="300",
                  height="200",
                  hi_def=True,
                  loading="auto|lazy"
                  ) | safe
                }}
              </a>
            </div>
          </div>
        </div>
      </article>
    </section>
  </main>
{% endblock %}
