{% extends "_layouts/_root.html" %}
{% block title %}MicroCloud edge computing solution{% endblock %}
{% block description %}MicroClouds offer a lightweight and automated solution for edge clouds and small scale private clouds. Best of open source cloud infrastructure components integrated seamlessly.{% endblock %}
{% block meta_copydoc %}https://docs.google.com/document/d/17iBbFCINLYjPBOYWpgoq9SreyYNkR0Sb5jgx5iTo6MA/edit{% endblock meta_copydoc %}

{% block content %}
<main id="main-content">
  <section class="p-strip--suru">
    <div class="row">
      <div class="col-6">
        <h1>MicroCloud - the power of cloud anywhere you need it</h1>
        <p class="p-heading--4">
          Straightforward and lightweight, but featureful.<br>
          MicroClouds serve compute near consumers, wherever they may be.
        </p>
        <p>
          <a class="p-button--positive js-invoke-modal" href="/contact-us">Get in touch</a>
          <a href="https://ubuntu.com/engage/guide-to-micro-clouds" class="p-link--inverted" target="_blank" rel="noopener noreferrer">Read whitepaper &nbsp;&rsaquo;</a>
        </p>
      </div>
      <div class="col-6">
            <iframe width="603" height="339" src="https://www.youtube-nocookie.com/embed/FnzUcGg60Qk" frameborder="0"
                    title="What is a MicroCloud?"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    loading="lazy" allowfullscreen="" class="responsiveIframe"></iframe>
      </div>
    </div>
  </section>

  <section class="p-strip is-deep is-bordered">
    <div class="row">
      <div class="col-12">
        <h2>Deploy a fully functional cloud in minutes</h2>
        <div class="row-cli__commands">$ <span class="row-cli__commands-list typer" id="main"
                                               data-words="snap install microcloud lxd microceph microovn,microcloud init"
                                               data-delay="50" data-deletedelay="5000" data-colors="#111111"
                                               style="color: rgb(17, 17, 17);">snap install mic</span></div>
      </div>
    </div>
  </section>

  <section class="p-strip--light is-deep is-bordered">
    <div class="row p-divider u-equal-height">
      <div class="col-4 p-divider__block">
        <h3 class="p-heading--4">Automated deployment</h3>
        <p>MicroClouds are built with simplicity and automation in mind. With MicroClouds, both deployment and on-site
          operations are automated with low to no on-site maintenance, regardless of whether you’re running it at the
          back of the office or at a hard-to-reach remote edge site.</p>
      </div>
      <div class="col-4 p-divider__block">
        <h3 class="p-heading--4">Secure with hassle-free updates</h3>
        <p>While smaller in scale, your MicroClouds will still likely process big amounts of data. They may also run
          sensitive workloads. Security and prompt vulnerability updates are the key priorities to ensure your data is
          kept safe. MicroCloud components are packaged using snaps, providing an extra layer of isolation while
          enabling worry-free updates.</p>
      </div>
      <div class="col-4 p-divider__block">
        <h3 class="p-heading--4">Cost and resource efficient</h3>
        <p>In addition to standard Ubuntu Server or Desktop, MicroClouds can also be run on Ubuntu Core - a lightweight
          OS optimised for the edge. Combined with Ubuntu Core, users get a truly lightweight cloud, giving you resource
          efficiency without compromising on performance, while keeping costs at bay.</p>
      </div>
    </div>
  </section>

  <section class="p-strip">
    <div class="row">
      <div class="col-8">
        <h2>What is the size of a MicroCloud?</h2>
        <p>MicroClouds are highly available by default, so a minimum of 3 systems are needed.<br>
          They can easily extend in site size and scale from a small 3-node to larger 50-node clusters.</p>
      </div>
      <div class="col-4 u-hide--small u-hide--medium u-align--center u-vertically-center">
         {{ image (
            url="https://assets.ubuntu.com/v1/23cbb344-Design.png",
            alt="measurement tools",
            width="290",
            height="167",
            hi_def=True,
            loading="auto|lazy"
            ) | safe
            }}
      </div>
    </div>
  </section>

  <section class="p-strip--light">
    <div class="row p-divider u-no-margin--bottom">
      <div class="col-12">
        <h2>Best-of-breed open-source components</h2>
      </div>
    </div>
    <div class="row p-divider">
      <div class="col-4 p-divider__block">
        <div class="p-heading-icon--muted">
          <div class="p-heading-icon__header">
            <h3 class="p-heading-icon__title">LXD</h3>
          </div>
          <p><a href="https://ubuntu.com/lxd" target="_blank" rel="noopener noreferrer">LXD</a> is a modern infrastructure tool that has everything you need to
            run your virtualised workloads. In addition to regular VMs, users can run their workloads using <a
                    href="https://ubuntu.com/blog/what-are-linux-containers" target="_blank" rel="noopener noreferrer">system containers</a> that behave similarly
            but consume fewer resources while providing bare-metal performance. LXD is image-based. It supports a wide
            range of Linux distributions, as well as Windows VMs, and has a good mix of cloud-like features. </p>
          <p>Check the <a href="https://pages.ubuntu.com/rs/066-EOV-335/images/LXD%20DATASHEET.pdf" target="_blank" rel="noopener noreferrer">datasheet</a> for an
            overview of LXD’s features.</p>
        </div>
      </div>

      <div class="col-4 p-divider__block">
        <div class="p-heading-icon--muted">
          <div class="p-heading-icon__header">
            <h3 class="p-heading-icon__title">Ceph</h3>
          </div>
          <p><a href="https://ubuntu.com/ceph" target="_blank" rel="noopener noreferrer">Ceph</a> has become a de facto standard for open-source storage
            solutions. It provides interfaces for several storage types (block, file and object) within a single
            cluster, eliminating the need for multiple storage solutions. It is scalable and reliable, making it the
            perfect solution for any cloud. </p>
          <p>Get familiar with <a
                  href="https://ubuntu.com/blog/open-source-storage-for-beginners-with-ceph" target="_blank" rel="noopener noreferrer">Ceph</a>.</p>
        </div>
      </div>

      <div class="col-4 p-divider__block">
        <div class="p-heading-icon--muted">
          <div class="p-heading-icon__header">
            <h3 class="p-heading-icon__title">OVN</h3>
          </div>
          <p>OVN is a trusted open source software-defined networking solution. It provides virtual network
            abstractions, such as virtual L2 and L3 overlays, security groups, DHCP and other networking services. It
            was designed to support highly scalable and production-grade implementations. </p>
          <p><a
                  href="https://ubuntu.com/blog/data-centre-networking-what-is-ovn" target="_blank" rel="noopener noreferrer">OVN</a> has numerous relevant networking features that you can read more about.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="p-strip is-bordered">
    <div class="row p-divider u-no-margin--bottom">
      <div class="col-12">
        <h2>Key features</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <ul class="p-list u-no-margin--bottom">
          <li class="p-list__item is-ticked">Highly available cluster deploys in minutes</li>
          <li class="p-list__item is-ticked">Automatic security updates and streamlined upgrades</li>
          <li class="p-list__item is-ticked">For multi-tenant environments: remote authentication, RBAC, projects and
            multi-user setup
          </li>
        </ul>
      </div>
      <div class="col-6">
        <ul class="p-list">
          <li class="p-list__item is-ticked">Runs virtual machines, or system containers for higher density</li>
          <li class="p-list__item is-ticked">Easily replicated at scale</li>
          <li class="p-list__item is-ticked">Fully open-source, with commercial support available through Canonical</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="p-strip">
    <div class="row">
      <div class="col-6">
        <h2>Edge computing at a large scale</h2>
        <p>Industrial, Telco, Retail, Banking - MicroClouds are the perfect edge computing solution for any
          industry:</p>
        <ul class="p-list">
          <li class="p-list__item is-ticked">Scalable and low-latency HA cluster for critical applications</li>
          <li class="p-list__item is-ticked">Lightweight to run on small servers or low-cost small devices</li>
          <li class="p-list__item is-ticked">Low-touch, self-healing, few to no human interactions needed</li>
        </ul>
        <p>Read more about MicroClouds for the edge in this <a href="https://ubuntu.com/engage/guide-to-micro-clouds" target="_blank" rel="noopener noreferrer">whitepaper</a>
        </p>
      </div>
      <div class="col-6 u-hide--small u-hide--medium u-align--center u-vertically-center">
         {{ image (
            url="https://assets.ubuntu.com/v1/4cbd009c-edge-computing.png",
            alt="edge computing",
            width="422",
            height="250",
            hi_def=True,
            loading="auto|lazy"
            ) | safe
            }}
      </div>
    </div>
    <hr class="is-fixed-width p-separator">
    <div class="row">
      <div class="col-6 u-hide--small u-hide--medium u-align--center u-vertically-center">
         {{ image (
            url="https://assets.ubuntu.com/v1/b6a48d38-Edge-business.svg",
            alt="edge business",
            width="422",
            height="200",
            hi_def=True,
            loading="auto|lazy"
            ) | safe
            }}
      </div>
      <div class="col-6">
        <h2>Small-scale private cloud</h2>
        <p>Do you need to keep sensitive workloads in a controlled environment, or are public cloud costs too
          unpredictable for your business? MicroClouds are an efficient solution for your small-scale private cloud
          needs.</p>
        <ul class="p-list">
          <li class="p-list__item is-ticked">Resource-efficient to keep costs at bay
          <li class="p-list__item is-ticked">Simple to deploy and operate</li>
          <li class="p-list__item is-ticked">Easy to scale as your needs grow</li>
        </ul>
      </div>
    </div>
    <hr class="is-fixed-width p-separator">
    <div class="row">
      <div class="col-6">
        <h2>Efficient dev environment</h2>
        <p>MicroCloud is lightweight enough that it can run on a developer laptop. You can use it for:</p>
        <ul class="p-list">
          <li class="p-list__item is-ticked">Lightweight and constrained disposable testing environments</li>
          <li class="p-list__item is-ticked">Simulating or testing complex infrastructure processes</li>
          <li class="p-list__item is-ticked">Simulating how your workloads would run in production</li>
          <li class="p-list__item is-ticked">Safely experimenting with new technologies</li>
        </ul>
        <p>
          <a href="https://ubuntu.com/blog/open-source-for-beginners-dev-environment-with-lxd" target="_blank" rel="noopener noreferrer">Setting up a dev
            environment with LXD</a> offers some useful tips.
        </p>
      </div>
      <div class="col-6 u-hide--small u-hide--medium u-align--center u-vertically-center">
         {{ image (
            url="https://assets.ubuntu.com/v1/7f65439f-dev-at-laptop.svg",
            alt="developer at laptop",
            width="422",
            height="422",
            attrs={"style": "margin-top: -3rem"},
            hi_def=True,
            loading="auto|lazy"
            ) | safe
            }}
      </div>
    </div>
  </section>

  <section class="p-strip--light">
    <div class="u-fixed-width">
      <h2>Integrate with the best hardware vendors</h2>
      <p>Ubuntu works with a number of hardware vendors specialised in edge computing server equipment. <a
              href="/contact-us" class="js-invoke-modal">Contact us</a> to discuss working with your preferred vendors.
      </p>
      <div class="p-logo-section">
        <p class="p-logo-section__title"></p>
        <div class="p-logo-section__items">
          <div class="p-logo-section__item">
            {{ image (
              url="https://assets.ubuntu.com/v1/809e30b6-arm-logo%20@372px.png",
              alt="arm",
              width="372",
              height="372",
              hi_def=True,
              loading="auto|lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image (
              url="https://assets.ubuntu.com/v1/1e1dfada-nvidia-logo%20@372px.png",
              alt="nvidia",
              width="372",
              height="372",
              hi_def=True,
              loading="auto|lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image (
              url="https://assets.ubuntu.com/v1/a4f5893f-intel-new-logo%20@372px.png",
              alt="Intel",
              width="372",
              height="372",
              hi_def=True,
              loading="auto|lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image (
              url="https://assets.ubuntu.com/v1/9f5739e1-hp-enterprise-logo%20@372px.png",
              alt="hewlett packard enterprise",
              width="372",
              height="372",
              hi_def=True,
              loading="auto|lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image (
              url="https://assets.ubuntu.com/v1/5fd989bf-Dell-01%20@372px.png",
              alt="dell",
              width="372",
              height="372",
              hi_def=True,
              loading="auto|lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image (
              url="https://assets.ubuntu.com/v1/b0404df4-hp-logo.png",
              alt="Hewlett Packard",
              width="372",
              height="372",
              hi_def=True,
              loading="auto|lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image (
              url="https://assets.ubuntu.com/v1/b6b61c95-lenovo-logo%20@372px.png",
              alt="lenovo",
              width="372",
              height="372",
              hi_def=True,
              loading="auto|lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </div>
          <div class="p-logo-section__item">
            {{ image (
              url="https://assets.ubuntu.com/v1/0a27ac9f-cisco-logo.png",
              alt="cisco",
              width="372",
              height="372",
              hi_def=True,
              loading="auto|lazy",
              attrs={"class": "p-logo-section__logo"}
              ) | safe
            }}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="p-strip">
    <div class="row">
      <div class="col-6">
        <h2>All the benefits of a cloud, but localised</h2>
        <p>MicroClouds are low-touch, efficient and reliable. Do you have a use case in mind? Get in touch with our team.</p>

        <a class="p-button--positive js-invoke-modal" href="/contact-us">Talk to an expert</a>
      </div>
      <div class="col-6 u-hide--small u-hide--medium u-align--center u-vertically-center">
         {{ image (
            url="https://assets.ubuntu.com/v1/4d3a4582-edge-cluster.svg",
            alt="edge cluster",
            width="422",
            height="422",
            attrs={"style": "margin-top: -4rem"},
            hi_def=True,
            loading="auto|lazy"
            ) | safe
            }}
      </div>
    </div>
  </section>
</main>
<div
  class="u-hide"
  id="contact-form-container"
  data-form-location="/modals/contact-us"
></div>
<script src="/static/js/typer.js" defer></script>
<script src="/static/js/modals.js" defer></script>
{% endblock %}
